* {
	box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(255, 252, 250);
    font-family: 'Merriweather', serif;
}
.container input:focus,
select:focus,
textarea:focus {
   background-color: red;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   
    
}
.title {
    background-color: black;
    text-align: center;
    color: white;
    min-width: 100%;
    margin: 0;
    height: 4rem;
    align-items: center;
    
}

header h2,
header p {
    text-align: center;
}
header h2 {
    color: black;
}
header p {
    color: silver;
    font-size: 120%;
    margin: 1rem 1rem 4rem 1rem;
}
.line-1 {
    height: 5px;
    max-width: 90%;
    background: black;
    margin: auto;
}
.line-2 {
    height: 3px;
    max-width: 90%;
    background: black;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
}
.line-3 {
    height: 3px;
    max-width: 90%;
    background: black;
    margin: auto;
}
body h2 {
    margin-left: 1rem;
}
.container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
label{
    font-size: large;
    min-width: 100%;
    color: rgb(155, 153, 153);
}
.container input,
select,
textarea{
    min-width: 100%;
    padding: 0.9rem;
    border-color: white;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 2rem;
}
#zip_code {
    max-width: 50%;
    padding: 0.9rem;
    border-color: white;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 2rem;
}

label {
    margin-bottom: 0;
}
fieldset {
    border: 0;
    padding: 1rem;
}
::placeholder{
    float: right;
    color: rgba(103, 106, 109, 0.507);
}
.p-newsletter {
    color: silver;
    font-size: 120%;
    margin-bottom: 2rem;
}
.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.container-2 input {
    margin-top: 20px;
    margin-right: 10px;
}
.container-2 h3{
    margin-bottom: 0;
}
textarea {
    width: 100%;
    height: 150px;
    margin: 10px auto;
    background-color: whitesmoke;
    border-radius: 5px;
}
button{
    width: 80%;
    height: 50px;
    margin: auto;
    color: white;
    background-color: black;
}
footer {
    min-height: 100px;
}

p.copyright {
    color: silver;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
}
@media (min-width: 768px) {
    nav {
        min-width: 100%
    }
    .container, header, .container-2 {
        margin: 0 20% 0 20%;
    }

}