
button{
    width: 100%;
    height: 50px;
    margin: auto;
    color: white;
    background-color: black;
    transition-duration: 0.5s;
    &:hover {
        background-color: rgb(118, 165, 118);
 }
}
footer {
    min-height: 100px;
}